.head {
	overflow: hidden;
    background: #000;
    width: auto;
	margin: 0 auto;
}
.head .logo {
    overflow: auto;
    width: 176px;
    height: 44px;
    margin: 14px;
    float: left;
}
.head .nav {
	margin-left: 30px;
	float: left;
	margin-top: 22px;
}
.head .nav .navnow a {
	color: #fb6d00;
	text-decoration: none;
}
.head .nav li {
	float: left;
	margin-left: 24px;
}
.head .nav li a {
	display: block;
	font-size: 15px;
	color: #ededed;
	padding: 4px 6px;
}
.head .nav li a:hover {
	color: #fb6d00;
	text-decoration: none;
}

.head .header_right {
	float: right;
	font-family: "微软雅黑";
	font-size: 14px;
	color: white;
	font-weight: lighter;
	margin-right: 100px;
	margin-top: 30px;
}
.head #login {
	float: left;
	font-size: 14px;
	color: #999999
}
.head #register {
	float: right;
	font-size: 14px;
	color: #999999
}
.head .header_right a {
	font-size: 14px;
	color: white;
}
.forget a {
	margin-top: 5px;
	font-size: 12px;
	margin-left: 71%
}
#btn_login {
	margin-left: 20%;
}
#btn_cancel {
	margin-left: 10px;
}
.login_input {
	margin-top: 10px;
}
.login_password {
	margin-top: 5px;
}
